.nav {
  z-index: 11;
}

.menu__btn {
  position: fixed;
  top: 15px;
  right: 60px;
  z-index: 11;
  display: flex;
  align-items: center;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.menu__icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.menu__box {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 10;
  display: block;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 50px 0;
  background-color: #111;
  box-shadow: 0 0 1.5rem 0 rgb(0 0 0 / 20%);
  visibility: hidden;
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  margin: 0 2em;
  padding: 16px 0;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item__underline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menu__item:hover {
  color: rgba(255, 255, 255, 1);
}

.menu__toggle {
  opacity: 0;
}

.menu__btn-close {
  display: none;
}

.menu__toggle:checked ~ .menu__box {
  right: 0;
  visibility: visible;
}

.menu__toggle:checked ~ .menu__btn-open {
  display: none;
}

.menu__toggle:checked ~ .menu__btn-close {
  top: 20px;
  right: 15px;
  display: block;
}

.menu__icon__span {
  color: #bbb;
}
